body {
  background-image: linear-gradient(to top, #fcc5e4 0%, #f1cfac 15%, #ff7882 35%, #c8699e 52%, #7046aa 71%, #0c1db8 87%, #020f75 100%);
}

.container {
  display: grid;
  /* grid-gap: 50px; */
  grid-template-rows: repeat(8,1fr);
  grid-template-columns: repeat(3,33vw)
}

.header {
  display: grid;
  justify-content: center;
  align-items: center;
  font-family: 'Pacifico', cursive;
  font-size: 50px;
  grid-row: 1/2;
  grid-column: 2;
  z-index: 2;
  position: relative;
  top: 35px;
  width: 100%;
  color: #141a46;
  margin: 0 0 25px 0;
}

.mo-fire {
  position: absolute;
  top: -70px;
  width: 80vw;
  height: 200px;
  z-index: 1;
  object-position: 50%;
  margin: 0 5vw;
}

#Layer_1 {
  height: 200px;
  position: relative;
  padding: 0 10vw 0 12vw;
  
}

#svg-view {
  width: 200%;
  height: 100px;}

.mo-fire svg {
  width: 100%;
  height: 200px;
  position: relative;
}

.flame {
  animation-name: flameDisappear;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  opacity: 0.5;
  transform-origin: 45% 45% 0;
}

.flame.one {
  animation-delay: 1s;
  animation-duration: 3s;
}

.flame.two {
  animation-duration: 5s;
  animation-delay: 1s;
}

.flame-main {
  animation-name: flameMovement;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

.flame-main.one {
  animation-duration: 2.2s;
  animation-delay: 1s;
}

.flame-main.two {
  animation-duration: 2s;
  animation-delay: 1s;
}

.flame-main.three {
  animation-duration: 2.1s;
  animation-delay: 3s;
}

.flame-main.four {
  animation-duration: 3.2s;
  animation-delay: 4s;
}

.flame-main.five {
  animation-duration: 2.5s;
  animation-delay: 5s;
}

@keyframes flameMovement {
  50% {
    transform: scale(0.98, 1.0) translate(0, 2px) rotate(-1deg);
  }
}

@keyframes flameDisappear {
  0% {
    transform: translate(0) rotate(180deg);
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translate(-10px, -40px) rotate(180deg);
    opacity: 0;
  }
}

.globalSearch {
  margin: 25px 0 25px 0;
  display: grid;
  position: relative;
  align-items: center;
  grid-column: 1/3;
  grid-row: 2/3;
  grid-template-columns: repeat(3, 33%);
  grid-gap: 1px;
  width: 70vw;
  background-color: #f26d52;
  padding: 5px;
  border-radius: 5px;
  left: 15vw;
}

#city {
  width: 20vw;
}

#state {
  width: 20vw;
}

#add-search {
  width: 20vw;
}

.map {
  margin: 10px 15% 5px 15%;
  position: relative;
  display: grid;
  justify-content: center;
  align-items: center;
  background-color: #f26d52;
  font-size: 35px;
  grid-row: 3/span 5;
  grid-column: 2/3;
  width: 60vw;
  height:100%;
  padding: 5px;
  border-radius: 1%;
}

.yelp {
  margin: 10px 0 10px 0;
  position: relative;
  display: grid;
  text-align: left;
  /* align-items: center; */
  background-color: #f26d52;
  font-size: 20px;
  /* font-weight: bold; */
  width: 30vw;
  padding: 1px;
  border-radius: 5px;
  grid-gap:2px;
  grid-template-rows:3;
  grid-template-columns: 2;
}

.yelp0 {
  margin-left:5vw;
  grid-row: 3/4;
  grid-column: 1; 
}

.yelp1 {
  margin-left:5vw;
  grid-row: 4/5;
  grid-column: 1; 
}

.yelp2 {
  margin-left:5vw;
  grid-row: 5/6;
  grid-column: 1; 
}

.yelp3 {
  margin-left:5vw;
  grid-row: 6/7;
  grid-column: 1; 
}

.yelp4 {
  margin-left:5vw;
  grid-row: 7/8;
  grid-column: 1; 
}

/* .yelp5 {
  margin-left:5vw;
  grid-row: 10/11;
  grid-column: 1; 
}

.yelp6 {
  margin-left:5vw;
  grid-row: 11/12;
  grid-column: 1; 
}

.yelp7 {
  grid-row: 11/12;
  grid-column: 1; 
} */

/* .yelp8 {
  margin-left:5vw;
  grid-row: 12/13;
  grid-column: 1; 
}

.yelp9 {
  grid-row: 12/13;
  grid-column: 1; 
} */



#name{
color:#141a46;
grid-column: 1;
grid-row: 1;
}

#photo{
/* position: relative; */
grid-column: 2;
grid-row: 1/ span 3;
height:100px;
width:100px;
justify-self: right;
}

#rating{
  color:#141a46;
  grid-column: 1;
  grid-row: 2;
}

#location{
  color:#141a46;
  grid-column: 1/2;
  grid-row: 3;
}

@media (max-width: 900px) {
  body {
    min-width: 320px
  }
}

@media (min-width: 320px) {
  .header {
    font-size: 50px
  }
}